.Nav{
	border-radius:20px;
}
.Nav .col-md-3{
	text-align: center;
	/*margin-top:10px;*/
	height:35px;
}
.Nav .compte a{
	text-align: center;
	color:grey;
	text-decoration:none;

}
.Nav .compte, .Nav .col-md-9 {
	margin-top:8px;
}
		
.Nav .col-md-9 ul{
	color:#ffc180;
	list-style-type:none;

}
.Nav .col-md-9 ul li{
	float: left;
	margin: 0 5px;
}
.Nav .col-md-9 ul li a{
	color:#ffc180;
	text-decoration:none;
	font-weight:bold;
	font-size:20px;
	padding:14px 20px;
}

.part1{
	background-color: white;
	border-radius:20px;
	box-shadow:5px 5px 10px grey;
/*	width: 100%;
	height:auto;*/
	font-size:16px;
	padding-top:25px;
	padding-bottom:220px;
}

.part1 h5{
	color: #ff6666;
	font-size:18px;
}
.part1 li{
	list-style-type:none;
}
body{
	font-family:Lucida Calligraphy;
}
.contenue{
	margin-top:15px;
}
.part2{
	background-color:#e0e0d2;
	border-radius:20px;
	box-shadow:5px 5px 10px white;
/*	width: 100%;
	height:auto;*/
	font-size:16px;
	padding-top:100px;
	padding-bottom:180px;
}
