.part2{
	background-color:#e0e0d2;
	border-radius:20px;
	box-shadow:5px 5px 10px white;
/*	width: 100%;
	height:auto;*/
	font-size:16px;
	padding-top:100px;
	padding-bottom:180px;
}
.part2 h4{
	color:#cc3399;
	font-size:22px;
	font-family:Lucida Handwriting;
	font-weight:bold;
}
.part2 label{
	color:#ac3973;
	font-size:20px;
}
.InserA{
	margin-top:10px;
	text-align:center;
}